{% extends 'base.html' %}
{% block content %}
<style>
       
      
    
    .ok{
        color: white;
        font-size:40px;
        font-weight:bold;
    }
    .oki{
        color: white;
        font-size:20px;
        font-weight:bold;
    }
    .grid1{
        box-shadow:15px 15px 20px black;
        overflow:hidden;
        transition:1s;
    }
    .grid1:hover{
        transform:scale(1.3);
    }
    .grid2{
        box-shadow:15px 15px 20px black;
        overflow:hidden;
        transition:1s;
    }
    .grid2:hover{
        transform:scale(1.3);
    }.grid3{
        box-shadow:15px 15px 20px black;
        overflow:hidden;
        transition:1s;
    }
    .grid3:hover{
        transform:scale(1.3);
    }.grid4{
        box-shadow:15px 15px 20px black;
        overflow:hidden;
        transition:1s;
    }
    .grid4:hover{
        transform:scale(1.3);
    }.grid5{
        box-shadow:15px 15px 20px black;
        overflow:hidden;
        transition:1s;
    }
    .grid5:hover{
        transform:scale(1.3);
    }.grid6{
        box-shadow:15px 15px 20px black;
        overflow:hidden;
        transition:1s;
    }
    .grid6:hover{
        transform:scale(1.3);
    }
    #image-container{
        width:1500px;
        height:602px;
        border:1px solid #000;
        background-image:url(https://img.freepik.com/premium-photo/top-view-laptop-concept-with-blue-desk-concept-background-3d-rendering_626958-393.jpg);
        background-repeat:no-repeat;
        background-size:100% 100%;
    }
</style>
<section class="hero"style="background-color:#B9D9EB;">
    <div class="hero-content">
        
           <h1><bold>ABOUT</bold></h1>
           <br>
           <br>
            <h3> Department of Computer Science and Design was established in the year 2021, with Mindtree as its knowledge partner to offer an industry relevant program. Mission is to formulate intellectual, professional and ethical graduates, proficient of meeting challenges in the field of Computer Science and Design through effective teaching learning process and Industry Institute interaction. We provide an excellent state of art lab facility to craft a truly functional, useful, and enjoyable design. 
            Individuals who carry the skills of creativity and design are increasingly in demand.This course is designed to achieve such an interdisciplinary skill-set.

            The Department has well qualified, highly experienced and dedicated team of faculty trained in the recent trends of Computer Science and Design.
            <br>
            <br>
            CURRICULUM ENRICHMENT: The curriculum is designed and developed by distinguished academicians and domain experts from industries like Mindtree. 40% of the curriculum is framed by the knowledge partner Mindtree. The course delivers basics of Computer Science and Engineering and in-demand skills like Augmented and Virtual reality, UI/UX design and Multimedia which makes the students to get better career prospects.  
            <br>
            <br>
            FACULTY STRENGTH: A dedicated and experienced faculty team who are on par with the industry trends and requirements. Faculty members are trained by industry experts from Mindtree, Wipro Technologies, Cognizant, Virtusa and TCS to nurture the student’s technical skills. The faculty members of this course have done Coursera/Udemy/Nasscom Future Skills/Infosys Springboard courses in the relevant subjects such as UI/UX design, Design Thinking and Augmented and Virtual Reality.</h3>
            
       
       
    </div>
</section>


<section class="staff"  style="background-color:#B9D9EB;">
<div class="grid" style="display: inline-grid;grid-template-columns: auto auto auto auto;grid-gap:90px;margin-left:30px;">
   <div class="grid1"style="background-color:whitesmoke;margin-left:300px;display: inline-grid;">
     <article>
       <img src="https://www.rmkec.ac.in/2023/wp-content/uploads/2022/07/HOD-Pic.jpg"style="width:250px;height:200px;">
       <div class="text">
         <h1 style="text-align: center;">Dr.Thanga Ramya</h1>
         <h2 style="text-align:center;">Head Of Department</h2>
         <a style="background-color:#90caf9;border-radius: 12px;margin-left:100px;padding:5px 15px;font-size: 15px;text-decoration: none;text-align:justify;"href="https://drive.google.com/file/d/1X234JuQyLCYNi11bwcDyVDpWijhKnu1u/view?usp=sharing" target="blank">About</a>
       </div>
     </div>
     </article>
     <br>
     <br>
     <div class="grid2"style="background-color:whitesmoke;margin-left:300px;display: inline-grid;">
     <article>
       <img src="https://www.rmkec.ac.in/2023/wp-content/uploads/2022/07/20DivyaJ.jpg"style="width:250px;height:200px;">
       <div class="text">
         <h1 style="text-align: center;">Ms. J.DIVYA</h1>
         <h2 style="text-align:center;">Assistant Professor</h2>
         <a style="background-color:#90caf9;border-radius: 12px;margin-left:100px;padding:5px 15px;font-size: 15px;text-decoration: none;text-align:justify;"href="https://drive.google.com/file/d/1uZU1zh7lFAf1Jn0NNYH8r2VwrPUKaQ8k/view?usp=sharing" target="blank">About</a>
       </div>
     </div>
     </article>
     <br>
     <br>
     <div class="grid3"style="background-color:whitesmoke;margin-left:300px;display: inline-grid;">
     <article>
       <img src="https://www.rmkec.ac.in/2023/wp-content/uploads/2022/07/31Archana.jpg"style="width:250px;height:200px;">
       <div class="text">
         <h3 style="text-align: center;">Ms.U.ARCHANA</h3>
         <h2 style="text-align:center;">Assistant Professor</h2>
         <a style="background-color:#90caf9;border-radius: 12px;margin-left:100px;padding:5px 15px;font-size: 15px;text-decoration: none;text-align:justify;"href="https://drive.google.com/file/d/1wQCgDln-ZnP97d09G4CKBA_PgHtRGZ0l/view?usp=sharing" target="blank">About</a>
       </div>
     </div>
     </article>
     <br>
     <br>
     <div class="grid4"style="background-color:whitesmoke;margin-left:300px;display: inline-grid;">
     <article>
       <img src="https://www.rmkec.ac.in/2023/wp-content/uploads/2022/07/Maha-photo.jpg"style="width:250px;height:200px;">
       <div class="text">
         <h3 style="text-align: center;">Ms.S.Mahalakshmi</h3>
         <h2 style="text-align:center;">Assistant Professor</h2>
         <a style="background-color:#90caf9;border-radius: 12px;margin-left:100px;padding:5px 15px;font-size: 15px;text-decoration: none;text-align:justify;"href="https://drive.google.com/file/d/12tPyhmMIjLytrSE8-VoY0VJATghci5Gz/view?usp=sharing" target="blank">About</a>
       </div>
     </div>
     </article>
     <br>
     <br>
     <div class="grid5"style="background-color:whitesmoke;margin-left:300px;display: inline-grid;">
     <article>
       <img src="https://www.rmkec.ac.in/2023/wp-content/uploads/2022/07/Sudha-Mercy-photo.jpg"style="width:250px;height:200px;">
       <div class="text">
         <h3 style="text-align: center;">Ms.S.Sudha Mercy</h3>
         <h2 style="text-align:center;">Assistant Professor</h2>
         
         <a style="background-color:#90caf9;border-radius: 12px;margin-left:100px;padding:5px 15px;font-size: 15px;text-decoration: none;text-align:justify;" href="https://drive.google.com/file/d/1oShC5OaqcOjrNBdGwBG8-ogp6uBEy521/view?usp=sharing" target="blank">About</a>
       </div>
       </div>
     </article>
     <br>
     <br>
     <div class="grid6"style="background-color:whitesmoke;margin-left:300px;display: inline-grid;">
     <article>
       <img src="https://www.rmkec.ac.in/2023/wp-content/uploads/2022/07/T1088-2-1.jpg"style="width:250px;height:200px;">
       <div class="text">
         <h3 style="text-align: center;">Dr. Sathiamoorthy J</h3>
         <h2 style="text-align:center;">Assistant Professor</h2>
        
         <a style="background-color:#90caf9;border-radius: 12px;margin-left:100px;padding:5px 15px;font-size: 15px;text-decoration: none;text-align:justify;"href="https://drive.google.com/file/d/1wh4g6thvzGDRZdPlCsM3NNLfzz-0E9rK/view?usp=sharing" target="blank">About</a>
       </div>
       <div>
   
     </article>
     </div>

      
   </section>   
                       
{% endblock content %}
